In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

import statistics  as sts

from imblearn.over_sampling import SMOTE
from sklearn.model_selection import StratifiedKFold

from sklearn.svm import SVC

In [ ]:
data = pd.read_csv('/content/output_esporos.csv')

In [ ]:
data.head()

,Name,Histograma_G,Mean_Colors,meanExG,meanCIVE,meanNVDI,Haralick,Zernike,LBP,Equi_diameter,Area,Aspect_Ratio,Resultado
0,Amostra 15_10X_Frame1568_crop11.png,5.636719,95.446985,5.636719,5.636719,5.636719,786.169383,0.036823,180.375,40.527509,1290.0,1.054054,1
1,Amostra 15_10X_Frame1576_crop1.png,6.000000,98.282552,6.000000,6.000000,6.000000,585.093028,0.027636,192.000,43.070988,1457.0,0.666667,1
2,Amostra 15_10X_Frame1576_crop3.png,6.445312,99.005051,6.445312,6.445312,6.445312,804.215581,0.038723,206.250,42.061459,1389.5,1.515152,1
3,Amostra 15_10X_Frame1705_crop18.png,6.214844,94.723444,6.214844,6.214844,6.214844,586.029191,0.028189,198.875,42.483138,1417.5,0.860465,1
4,Amostra 15_10X_Frame1705_crop5.png,5.796875,102.623540,5.796875,5.796875,5.796875,553.465158,0.030225,185.500,42.280354,1404.0,0.528302,1

In [ ]:
X = data.drop(['Name', 'Resultado'], axis=1).values
y = data['Resultado'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
sm = SMOTE()
x_train_oversampled, y_train_oversampled = sm.fit_resample(X_train, y_train)

**KNN**

In [ ]:
# experimenting with different n values
k = 5
knn = KNeighborsClassifier(n_neighbors=k, metric = 'euclidean')
knn.fit(x_train_oversampled, y_train_oversampled)
#==
#Score
#==
forest_score = knn.score(x_train_oversampled, y_train_oversampled)
forest_test = knn.score(X_test, y_test)
#==
#testing model
#==
y_pred = knn.predict(X_test)
#==
#evaluation
#==
cm = confusion_matrix(y_test,y_pred)
print('Training Score',forest_score)
print('Testing Score \n',forest_test)
print(cm)

Training Score 0.9066176470588235
Testing Score
 0.7648902821316614
[[222  64]
 [ 11  22]]

**SVM**

In [ ]:
svc = SVC(random_state=0)
svc.fit(x_train_oversampled, y_train_oversampled)
#==
#Score
#==
svc_score = svc.score(x_train_oversampled, y_train_oversampled)
svc_test = svc.score(X_test, y_test)
#==
#testing model
#==
y_pred = svc.predict(X_test)
#==
#evaluation
#==
cm = confusion_matrix(y_test,y_pred)
print('Training Score',svc_score)
print('Testing Score \n',svc_test)
print(cm)

Training Score 0.8823529411764706
Testing Score
 0.7962382445141066
[[233  53]
 [ 12  21]]